asgiref==3.9.1
asttokens==3.0.0
blinker @ file:///C:/b/abs_b1i87khtob/croot/blinker_1737448732095/work
click @ file:///C:/b/abs_42rbjngfys/croot/click_1744271606983/work
colorama==0.4.6
comm==0.2.2
debugpy==1.8.15
decorator==5.2.1
Django==5.2.4
exceptiongroup==1.3.0
executing==2.2.0
Flask @ file:///C:/b/abs_a6m37uz578/croot/flask_1737454335662/work
ipykernel==6.30.0
ipython==8.37.0
itsdangerous @ file:///C:/b/abs_c4vwgdr5yn/croot/itsdangerous_1716533399914/work
jedi==0.19.2
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
jupyter_client==8.6.3
jupyter_core==5.8.1
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
packaging==25.0
parso==0.8.4
platformdirs==4.3.8
prompt_toolkit==3.0.51
psutil==7.0.0
pure_eval==0.2.3
Pygments==2.19.2
python-dateutil==2.9.0.post0
pywin32==311
pyzmq==27.0.0
six==1.17.0
sqlparse==0.5.3
stack-data==0.6.3
tornado==6.5.1
traitlets==5.14.3
typing_extensions==4.14.1
tzdata==2025.2
wcwidth==0.2.13
Werkzeug @ file:///C:/b/abs_c7bupijx2_/croot/werkzeug_1737448709012/work
